<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The About Page</title>
    <link rel="tab icon" href="https://i.pinimg.com/originals/cb/7d/48/cb7d48c589412612f5fd4a554e36a325.png">
</head>
<body style="background-color:black">
    <p style="color:white">Welcome to the About Page</p>
    <p style="color:white">My Name is Ene!</p>
    <p style="color:white">I like Football&nbsp;</p>
    <p style="color:white">And I support Arsenal</p>
    <p><img src="https://upload.wikimedia.org/wikipedia/hif/8/82/Arsenal_FC.png" alt="Arsenal badge" width="171" height="201" /></p>
    <a style="color:blue" href={{url_for('home_page')}}>Back to Home</a><br>
 <!--   <p style="color:blue;font-size:xxx-large;text-decoration:underline;">Given query is {{q}}</p> -->
</body>
</html>