<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education History</title>
    <link rel="tab icon" href="https://i.pinimg.com/originals/cb/7d/48/cb7d48c589412612f5fd4a554e36a325.png">
</head>
<body style="background-color:black">
<h2 style="color:white"><strong>Education History</strong></h2>
<table border="1">
<tbody>
<tr>
<td style="color:white"><strong>University</strong></td>
<td style="color:white">Coventry University</td>
</tr>
<tr>
<td style="color:white"><strong>Degree</strong></td>
<td style="color:white">Accounting</td>
</tr>
<tr>
<td style="color:white"><strong>Result</strong></td>
<td style="color:white">1st</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<a style="color:blue" href={{url_for('home_page')}}>move back to home</a><br>
<p>&nbsp;</p>
<marquee  behavior="scroll" direction="left">
          <img src=
"https://w7.pngwing.com/pngs/431/262/png-transparent-coventry-university-bishop-grosseteste-university-disruptive-media-learning-lab-university-of-central-lancashire-ielts-logo-blue-text-logo.png" alt="cov uni logo" width="272" height="126"
    </marquee>

<!--<p style="color:blue;font-size:xxx-large;text-decoration:underline;">Given query is {{q}}</p> -->
</body>
</html>