<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="tab icon" href="https://i.pinimg.com/originals/cb/7d/48/cb7d48c589412612f5fd4a554e36a325.png">
</head>
<body style="background-color:black">
<h2 style="color:white"><strong>Welcome Home!</strong></h2>
<ul>
<li><p style="color:white">Here are some links for you to navigate!</p></li>
    <p>    </p>
<li><a style="color:blue" href={{url_for('about_page')}}>About me!</a></li>
    <p>    </p>
<li><a style="color:blue" href={{url_for('contact_page')}}>Move to the contact me page!</a></li>
    <p>    </p>
<li><a style="color:blue" href={{url_for('education_page')}}>Click me for my Education History</a></li>
    <p>   </p>
<li><a style="color:blue" href={{url_for('task_page')}}>Click me for colleges</a></li>
</ul>
<!--<h1 ><span style="text-decoration: underline; color: #000000;"><strong><span><span>Welcome</span></span><span> Home</span></strong></span></h1> -->
<!-- <p style="color:white">Here are some links for you to navigate!</p>
<a style="color:blue" href={{url_for('about_page')}}>About me!</a><br>
<a style="color:blue" href={{url_for('contact_page')}}>Move to the contact me page!</a><br>
<a style="color:blue" href={{url_for('education_page')}}>Click me for my Education History</a><br> -->
<!--<p style="color:blue;font-size:xxx-large;text-decoration:underline;">Given query is {{q}}</p>!-->


</body>
</html>